<% provide(:title, "Home") %>

<div class="center jumbotron" >
  <h1 class="page-title"> Welcome to Honey Words </h1>
  <h2 class="home-body"> This is made using Ruby on Rails </h2>
  <%= link_to "Sign Up now!" , signup_path , class: "btn btn-lg btn-primary" %>
</div>